<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/6edd1729-b2d7-47a5-9e64-2a2c02c6bf4f/resourceGroups/pathwaysacr-rg/providers/Microsoft.ContainerRegistry/registries/pochaakshybridapi20230726154153</ResourceId>
    <ResourceName>pochaakshybridapi20230726154153</ResourceName>
    <ResourceGroup>pathwaysacr-rg</ResourceGroup>
    <Subscription>ME-MngEnvMCAP998019-phillipjudge-6-NHSE-Pathways-Cloud</Subscription>
    <RegistryUrl>https://pochaakshybridapi20230726154153.azurecr.io</RegistryUrl>
    <PublishImageTag>1.0</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <_TargetId>AzureConsoleContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>