<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/13e90e3a-50db-43f8-86e5-42bca5b14ebd/resourceGroups/aks-hybrid-poc/providers/Microsoft.ContainerRegistry/registries/akshybridpocacr</ResourceId>
    <ResourceName>akshybridpocacr</ResourceName>
    <ResourceGroup>aks-hybrid-poc</ResourceGroup>
    <Subscription>MCAPS-Hybrid-REQ-51257-2023-iancurtis</Subscription>
    <RegistryUrl>https://akshybridpocacr.azurecr.io</RegistryUrl>
    <PublishImageTag>v1.0</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>99eede60-ab3a-44dc-81b2-655bdfcb0dc9</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>